.HeaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: -50px;
    line-height: 40px;
    min-width: 800px;
    border-bottom: solid 1px #E9E9E9;
    background-color: #E9E9E9;
}
.back{
    width: 600px;
    margin-left: 1300px;
}

a:focus, a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.res_icon{
    width: 25px;
    height: 25px;
    margin-bottom: -7px;
    margin-right: 30px;
}
.comres_icon{
    width: 40px;
    height: 40px;
    margin-left: -9px;
    margin-right: 30px;
    margin-bottom: -15px;
}

.login_icon{
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
}

.InputStyle {
    width: 460px;
    height: 25px;    
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    text-indent: 1em;
}

.LogoBtn {
    padding: 0;
    border: none;
    background: none;
    font-size: 1.2em;
}

.HeaderBtn{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.HeaderBtn:hover {
    text-decoration: none;
    color: slateblue;
    font-weight: bold;
}
.HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* 컨테이너의 너비를 전체로 설정 */
}

.MemberInfo {
    text-align: left; /* 멤버 정보를 왼쪽 정렬 */
    flex-grow: 1; /* 필요에 따라 추가 공간을 차지하도록 설정 */
}

.ButtonsGroup {
    text-align: right; /* 버튼 그룹을 오른쪽 정렬 */
    flex-grow: 1; /* 필요에 따라 추가 공간을 차지하도록 설정 */
}
