.NavbarDiv {
    border-top: none;
    border-bottom: none;
    text-align: left;
}

.NavbarDiv2 {
    border-top: none;
    border-bottom: none;
    text-align: center;
}

.NavlistUl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 800px;
    list-style:none;
    padding-left:0px;    
    margin-top: 10px;
    margin-bottom: 10px;
}

.NavlistUl li {
    min-width: 170px;
    height: auto;
    text-align: center;
}

a {
    text-decoration: none;    
    color: black;
}

a:focus, a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.MainPicture{
    text-align: center;
}

.Centered {
    text-align: center;
}

.ContentRow {
    display: flex;
    align-items: center;
    justify-content: center; /* 사진과 텍스트를 왼쪽에 정렬합니다 */
    margin-top: 20px; /* MainLogo와의 간격 조정 */
}

.BridePicture {
    /* Bride 사진 관련 스타일 */
    margin-right: 20px; /* 텍스트와의 간격 조정 */
}

.PageContainer {
    border-bottom: solid 1px #A8A8A9;
    /* 기타 페이지 레이아웃 스타일 */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* 처음에는 투명 */
    }
    to {
        opacity: 1; /* 최종적으로 완전히 불투명 */
    }
}

/* .logo 클래스에 애니메이션 적용 */
.logo {
    margin-top: 50px;
    margin-bottom: 30px;
    animation-name: fadeIn; /* 애니메이션 이름 */
    animation-duration: 2s; /* 애니메이션 지속 시간 */
}