/* DressSelectTop.module.css 수정 */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: 1fr auto 1fr;*/
    gap: 20px;
    padding: 30px;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}

.container > :nth-child(4) {
    grid-column: 2 / 3;
}

.container > :nth-child(5) {
    grid-column: 3 / 4;
}
.brideContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
}

.brideContainer img {
    width: 100%;
    height: auto;
}


.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}


.info {
    text-align: left;
}

.name {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.brideContainer b {
    display: block;
    margin-bottom: 10px;
}
.brideContainer button {
    width: 80%;
    padding: 10px 20px;
    margin: 0 auto 20px;
    display: block;
    background-color: #007bff; /* 버튼 기본 색상 */
    color: white; /* 버튼 텍스트 색상 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.brideContainer button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 중간 크기의 화면에서는 2개의 칼럼 */
    }
    /* 중간 크기 화면에서는 모든 아이템을 기본 설정으로 재설정 */
    .container > :nth-child(n) {
        grid-column: auto;
    }
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr; /* 작은 화면에서는 1개의 칼럼 */
    }
    /* 작은 화면에서는 모든 아이템을 기본 설정으로 재설정 */
    .container > :nth-child(n) {
        grid-column: auto;
    }
}