@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.backgroundDiv{
    height: 70vh;
    display: flex;
    flex-direction: column; /*수평 정렬*/
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #EDE9E6;
}

.registerDiv{
    height: 400px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수평 정렬*/
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #EDE9E6;
    margin-top: -20px;
    /* border: solid 1px black; */
    border-radius: 25px;
}

.h1{
    color: #000;
    text-align: center;
    margin-top: -50px;
    font-family: 'Pretendard-Regular';
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    font-style: normal;
}



.useremail {
    height: 45px;
    width: 370px;
    border-radius: 10px;
    margin-top: 15px;
    padding-top: 4px;
    border: 1px solid #A8A8A9;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.useremail input {
    width: 200px;
    margin-top: 3px;
    height: 35px;
    margin-left: 50px;
    border: none;
    background: #F3F3F3;

}

.useremail_btn{
    /* width: 84px; */
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    margin-left: 6px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #A8A8A9;
    background:  RGB(164,198,222);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.icon_email{
    /*background-color: black;*/
    color: black;
    width: 37px;
    height: 40px;
    position: relative;
    top: -45px;
    left: -160px;
    color: black;
}

.usercode {
    height: 45px;
    width: 370px;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 4px;
    border: 1px solid #A8A8A9;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.usercode input {
    width: 200px;
    height: 35px;
    margin-top: 3px;
    margin-left: 50px;
    border: none;
    background: #F3F3F3;

}

.usercode_btn{
    /* width: 84px; */
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    margin-left: 6px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #A8A8A9;
    background:  RGB(164,198,222);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.icon_code{
    /*background-color: black;*/
    color: black;
    height: 35px;
    width: 40px;
    position: relative;
    top: -43px;
    left: -158px;
}

.login_btn{
    margin-top: -100px;
    border: none;
    fontSize: 10px;
    height: 10px;
}




